<!DOCTYPE html>
<html>
  <head>
    <title>image</title>
  </head>
  <body>
    <form id="uploadForm" enctype="multipart/form-data" method="get">
        <h2> <%= StoreType %> </h2>
        <h2> <%= StoreName %> </h2>
        <h2> <%= Phone %> </h2>
        <h2> <%= RestDate %> </h2>
        <h2> <%= MenuUrl %> </h2>
        <img src="/images/<%= image %>" />
    </form>
  </body>
</html>